<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICaptureDocumentService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://kofaxts.demo.totalagility.com/Services/SDK/CaptureDocumentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICaptureDocumentService"
                contract="ktaCaptureDocumentService.ICaptureDocumentService"
                name="BasicHttpBinding_ICaptureDocumentService" />
        </client>
    </system.serviceModel>
</configuration>