<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICaptureDocumentService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IJobService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://w2012-ts3.tstest.com/TotalAgility/Services/SDK/CaptureDocumentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICaptureDocumentService"
                contract="ktaCaptureDocumentService.ICaptureDocumentService"
                name="BasicHttpBinding_ICaptureDocumentService" />
            <endpoint address="http://w2012-ts3.tstest.com/TotalAgility/Services/SDK/JobService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJobService"
                contract="ktaJobService.IJobService" name="BasicHttpBinding_IJobService" />
        </client>
    </system.serviceModel>
</configuration>